@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  font-family: "Poppins", sans-serif;
  margin: 0px;
  padding: 0px;
  background-color: white;
}

* {
  margin: 0px;
  padding: 0px;
}

.card {
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.scaled-component {
  position: relative;
}

.content-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  transform: scale(0.75); /* Adjust the scale value as desired */
  transform-origin: top left;
}

.anime-gradient {
  background: linear-gradient(
    137deg,
    #4338ca,
    #115fdd,
    #1192dd,
    #6ee7b7,
    #6ee7b7,
    #1192dd,
    #115fdd,
    #4338ca
  );
  background-size: 600% 600%;

  -webkit-animation: AnimationName 25s ease infinite;
  -moz-animation: AnimationName 25s ease infinite;
  animation: AnimationName 25s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 17%;
  }
  50% {
    background-position: 100% 84%;
  }
  100% {
    background-position: 0% 17%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 17%;
  }
  50% {
    background-position: 100% 84%;
  }
  100% {
    background-position: 0% 17%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 17%;
  }
  50% {
    background-position: 100% 84%;
  }
  100% {
    background-position: 0% 17%;
  }
}
